@charset "utf-8";
/* CSS Document */
div#mediaQueryMessage {
	display: none;
}
section {
	border: 1px solid #000;
}
section.text {
	float: left;
	width: 300px;
}
section.largeImage {
	float: left;
	width: 460px;
}
section.littleImages {
	float: left;
	width: 140px;
}
section.littleImages img {
	border: 1px solid red;
	height: 40px;
	width: 40px;
}
a.garden {
	margin: 20px 0 0 14.28%;
}

@media all and (min-width: 800px) {
div#mediaQueryMessage {
	display: block;
}
section.text {
	float: left;
	margin: 20px 0 20px 2.02%;
	width: 30.61%;
}
section.largeImage {
	float: left;
	margin: 20px 0 20px 2.02%;
	width: 46.93%;
}
section.littleImages {
	float: left;
	margin: 20px 0 20px 2.02%;
	width: 14.28%
}
a.garden {
	margin: 20px 0 0 14.28%;
	width: 28.57%;
}
body {
	max-width: 1100px;
}
}
